
@media (min-width:394px){
    
}
@media (min-width:770px){
   /* ABOUT */
.about-flex{
    margin: 58px 0px 0px 0px;
}
.about-content{
   width: 90%;
   margin: auto;
}
.about-flex-num{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    margin-top: 200px;
}
.about-num{
    width: 340px;
    height: 231px;
}
.about-num span{
    display: block;
    margin-top: 40px;
    font-size: 24px;
    font-weight: 400;
    color: #1bac91;
}
.about-num h1{
    font-size: 28px;
font-weight: 400;
padding: 0;
margin: 20px 0;
color: #21413c;
}
.about-num p{
    color: #aaaaaa;
    font-size: 15px;
    line-height: 20px;
}
       /* MODI */
       .about-modi{
        width: 90%;
        margin: 30px auto 0px auto;
    }           
    .about-modi-content{
        width: 90%;
       height: 490px;
       padding: 0px 0px 0px 20px;
    }
    .about-modi-img{
        height: 490px;
    }
    .about-modi-img img{
        width: 60%; 
   }
    .about-modi-item1{
       width: 100%; 
       height: 107px;
       box-shadow: 0px 2px 15px rgb(0 0 0 / 12%);
       padding: 20px;
    }
    .about-modi-item1 h1{
        font-size: 18px;
        font-weight: 600;
        font-family: "Raleway", sans-serif;
        color: #1bac91;
        padding: 0px 0px 10px 0px;
    }
    .about-modi-item1 p{
        font-size: 14px;
        color: #495057;
        line-height: 20px;
        font-family: "Open Sans", sans-serif;
    }
    .about-modi-item{
        width: 100%; 
        height: 107px;
        margin-top: 20px;
        padding: 20px;
    }
    .about-modi-item h1{
        font-size: 18px;
        font-weight: 600;
        font-family: "Raleway", sans-serif;
        color: #444444;
        padding: 0px 0px 10px 0px;
    }
    .about-modi-item p{
        font-size: 14px;
        color: #495057;
        line-height: 20px;
        font-family: "Open Sans", sans-serif;
    }
    .about-modi-item1:hover P{
        color: #1bac91;
        transition: 0.5s;
    }
    .about-modi-item:hover h1,.about-modi-item:hover p{
        color: #1bac91;
        transition: 0.5s;
    }
        /* SERVICES */
    .services{
            margin-top: 50px;
            background-color: #f2f9f8;
            height: 1100px;
     }
    .sevice-flex{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 30px auto 0px auto;
        width: 80%;
    }
    .service-item{
        width: 45%;
        background-color: #fff;
        height: 335px;
        border-radius: 10px;
        text-align: center;
    }
    .service-item i{
        display: inline-block;
        padding: 40px 0px 0px 0px ;
    }
    .service-item h2{
        padding: 40px 0px 0px 0px ;
    }
    .service-item .icofont-basketball{
        color: #ff689b;
        font-size: 40px;
    }
    .service-item .icofont-ui-file{
        font-size: 40px;
        color: #3fcdc7;
    }
    .service-item .icofont-speed-meter {
        font-size: 40px;
        color: #41cf2e;
    }
    .service-item .icofont-world{
        font-size: 40px;
        color: #2282ff;
    }
    .service-item:hover{
        box-shadow: 0 2px 29px 0 rgb(37 37 37 / 10%);
        transition: 0.5s;
    }
}
/* 990 MIN WIDTH LAPTOP */
@media (min-width:990px){
.nav-bar i{
    display: none;
 }
.nav-bar ul{
    display: inline-block;
 }
 .nav-bar ul{
    display: flex;
    justify-content: space-evenly;
    width: 600px;
}
.nav-bar ul li{
 list-style: none;
 font-size: 14px;
 padding: 12px 0;
}
.nav-bar ul a{
 text-decoration: none;
 color: rgba(255, 255, 255, 0.8);
}
.nav-bar a{
    position: relative;
}
.nav-bar ul a::after{
    opacity: 0;
    position:absolute;
    content:"";
    width: 1%;
    background-color: #1bac91;
    height: 2px;
    left: 0;
    bottom:-10px;
}
.nav-bar ul a:hover::after{
    opacity: 3;
    position:absolute;
    content:"";
    background-color: #1bac91;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -10px;
    transition: all 0.3s;
}
.nav-bar ul a:hover{
    color: #fff;
}
/* ABOUT */
 .about-flex{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 0px 0px;
}
.about img{
    width:500px;
    height: 477px;
    margin-left: 40px;
}
.about-content{
    width: 550px;
    height: 477px;
}
.about-hp h1{
    font-weight: 400;
    font-size: 32px;
    color: #21413c;
    padding: 0px 20px;
}
.about-hp p{
    font-family: "Open Sans", sans-serif;
    color: #444444;
    line-height: 25px;
    padding: 20px;
}
.about-ico-flex{
    display: flex;
}
.about-icon i{
    font-size: 35px;
    color: #1bac91;
    padding: 10px;
}
.about-ico-content h1{
    font-size: 22px;
    font-weight: 500;
    color: #21413c;
}
.about-ico-content p{
    font-size: 15px;
    color: #848484;
} 
.about-flex-num{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    margin: 100px auto 0px auto;
    background-color: #f2f9f8
}
.about-num{
    width: 30%;
    padding: 0px 0px 0px 30px;
}
.about-num span{
    display: block;
    margin-top: 40px;
    font-size: 24px;
    font-weight: 400;
    color: #1bac91;
}
.about-num h1{
 font-size: 28px;
font-weight: 400;
padding: 0;
margin: 20px 0;
color: #21413c;
}
.about-num p{
    color: #aaaaaa;
    font-size: 15px;
    line-height: 20px;
}
            /* MODI */
.about-modi{
    width: 90%;
    margin: 30px auto 0px auto;
    display: flex;
    justify-content: space-between;
}
.about-modi-content{
   width: 40%;
   height: 490px;
   padding: 0px 0px 0px 20px;
}
.about-modi-img{
    width: 60%;
    height: 490px;
}
.about-modi-img img{
    width: 420px; 
}
.about-modi-item1{
    width: 317px; 
    height: 107px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 12%);
    padding: 20px;
}
.about-modi-item1 h1{
    font-size: 18px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    color: #1bac91;
    padding: 0px 0px 10px 0px;
}
.about-modi-item1 p{
    font-size: 14px;
    color: #495057;
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
}
.about-modi-item{
    width: 317px; 
    height: 107px;
    margin-top: 20px;
    padding: 20px;
}
.about-modi-item h1{
    font-size: 18px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    color: #444444;
    padding: 0px 0px 10px 0px;
}
.about-modi-item p{
    font-size: 14px;
    color: #495057;
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
}
.about-modi-item1:hover P{
    color: #1bac91;
    transition: 0.5s;
}
.about-modi-item:hover h1,.about-modi-item:hover p{
    color: #1bac91;
    transition: 0.5s;
}
            /* SERVICES */
.services{
    margin-top: 50px;
    background-color: #f2f9f8;
    height: 600px;
}
.services-content{
    text-align: center;
    width: 88%;
    margin: 0px auto;
}
.services h1{
    font-size: 36px;
    font-weight: 300;
    color: #21413c;
    font-family: "Raleway", sans-serif;
    padding-top: 50px;
}
.services p{
    font-family: "Open Sans", sans-serif;
    color: #444444;
    padding: 28px 0px 0px 0px;
    line-height: 24px;
}
.sevice-flex{
    display: flex;
    justify-content: space-evenly;
    margin: 30px auto 0px auto;
    width: 80%;
}
.service-item{
    width: 23%;
    background-color: #fff;
    height: 335px;
    border-radius: 10px;
    text-align: center;
}
.service-item i{
    display: inline-block;
    padding: 40px 0px 0px 0px ;
}
.service-item h2{
    padding: 40px 0px 0px 0px ;
}
.service-item .icofont-basketball{
    color: #ff689b;
    font-size: 40px;
}
.service-item .icofont-ui-file{
    font-size: 40px;
    color: #3fcdc7;
}
.service-item .icofont-speed-meter {
    font-size: 40px;
    color: #41cf2e;
}
.service-item .icofont-world{
    font-size: 40px;
    color: #2282ff;
}
.service-item:hover{
    box-shadow: 0 2px 29px 0 rgb(37 37 37 / 10%);
    transition: 0.5s;
}
                /* TESTIMONALS */
 .testimonal{
    width: 88%;
    margin: auto;
 } 
 .testimonal h1{
    font-size: 36px;
    font-weight: 300;
    color: #21413c;
    font-family: "Raleway", sans-serif;
    padding-top: 50px;
    text-align: center;
}  
.testimonal p{
    font-family: "Open Sans", sans-serif;
    color: #444444;
    padding: 28px 0px 0px 0px;
    line-height: 24px;
    text-align: center;
}                 
}




@media (min-width:1200px){
    /* ABOUT */
}