   body{
    font-family: "Open Sans", sans-serif;
   }
   .navigation{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 63px;
    background-color: #000;
    align-items: center;
   }
   .logo{
   font-size: 30px;
    padding: 6px 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
    margin-left: 20px;

   }
   .nav-bar i{
    display: inline-block;
    color: #fff;
    font-size: 25px;
    margin-right: 20px;
    font-weight: 0px;
    cursor: pointer;
   }
.nav-bar ul{
    display: none;
}
    /* BANNER */
.banner{
   background-image: url(../image/hero-bg.jpg);
   height: 600px;
   width: auto;
   background-size: cover;
}
.ban-backround{
    background: rgba(0, 0, 0, 0.4);
    height: 600px;
    width: auto;
}
.banner h1{
    text-align: center;
    color: #fff;
    font-size: 28px;
    padding-top: 220px;
}
.banner h2{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin-top: 17px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
}
.banner button{
    display: block;
    padding: 8px 28px;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 3px;
    margin: 40px auto 0px auto;
}
.banner button a{
    color: #fff;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
}
.banner button:hover{
    background-color: #1bac91;
    border: 2px solid #1bac91;
    transition: 0.5s;
}
/* About */
.about-flex{
    width: 93%;
    margin: auto;
}
.about-img{
    margin: 20px 0px;
    text-align: center;
}
.about-img img{
    width: 90%;
}
.about-hp h1{
    font-weight: 400;
    font-size: 34px;
    color: #21413c;
    margin:20px 0px 0px 10px;
}
.about-hp p{
    font-family: "Open Sans", sans-serif;
    color: #444444;
    margin:20px 0px 0px 10px;
}
.about-ico-flex{
    display: flex;
}
.about-icon{
    /* width: auto; */
    /* margin: auto; */
}
.about-icon i{
    font-size: 35px;
    color: #1bac91;
    padding: 10px 10px;
}
.about-ico-content h1{
    font-size: 22px;
    font-weight: 500;
    color: #21413c;
    /* padding: 10px 0px; */
}
.about-ico-content p{
    font-size: 15px;
    color: #848484;
    padding: 10px 0px;
} 
.about-content{
    /* margin: auto; */
}
.about-ico-flex{
    margin-top: 40px;
}

